<div class="nested-fields">
  <div class="field">
    <%= f.label :Option %>
  
    <%= f.text_field :title, placeholder: "Enter a possible answer here" %>
  </div>

  <%= link_to_remove_association "Remove", f %>
</div>
