<div class="nested-fields">
  <div class="field">
    <% f.label :Option %>
  
    <%= f.text_field :title, class: "form-control", id: "multiple-choice", placeholder: "Enter a possible answer here" %> <%= link_to_remove_association "Remove", f %>
  </div>

  
</div>
