<section class="container" id="main">
	<div class="row" id="poll-index-height">
		<div class="col-md-12">


			<h1>Editing Question</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @question %> |
			<%= link_to 'Back', questions_path %>

			

			
		
		</div>
	</div>

</section>
