<% content_for :banner do %>
<section id="top-area">

 <div class="container">
             <div class="row">
                 <div class="col-md-12 main-title">
                 <h1>Create your first Poll</h1>
                <p class="homepage-banner">Register today to start creating polls.<br/> If you already have an account, please <%= link_to "click here to sign in", new_user_session_path %></p>
                <%= button_to "Register", new_user_registration_path, :class => "button_start", :method => :get %>
                </div>
       		</div>
            </div>
 </section>
  <% end %>  

<section class="container" id="main">
	<div class="row">
		<div class="col-md-12">
			<h2 id="banner-heading">Some of the advantages of using RubyVote</h2>
		</div>
</div><!-- end row -->

<div class="row">

	<div class="col-md-4 col-sm-4 add_bottom_30 box">
		<p><img src="http://daraclare.com/downloads/rubyvote/icon-1.png" alt="Icon"></p>
		<h3>Easily integrated with Twitter</h3>
		<p>RubyVote can be easily integrated with Twitter so you can get feedback on your surveys during and even after events. Clean and simple to use, our Twitter integration is free and secure.</p>
		<a href="#" title="read more" class="button_medium_2">Read more</a>
	</div>
    
	<div class="col-md-4 col-sm-4 add_bottom_30 box">
		<p><img src="http://daraclare.com/downloads/rubyvote/icon-2.png" alt="Icon"></p>
		<h3>Free for everyone</h3>
		<p>RubyVote is free for everyone, no matter what size audience you need to cater for, or how often you need to use it.
You can even create as many surveys as you like per day!</p>
		<a href="#" title="read more" class="button_medium_2">Read more</a>
	</div>
    
	<div class="col-md-4 col-sm-4 add_bottom_30 box">
		<p><img src="http://daraclare.com/downloads/rubyvote/icon-3.png" alt="Icon"></p>
		<h3>Easy to use</h3>
		<p>RubyVote uses drag and drop methods with strong placeholder markers to show you how and where to ask your questions. It provides a simple link you users can follow to answer your survey and is simple and  easy to use.</p>
		<a href="#" title="read more" class="button_medium_2">Read more</a>
	</div>
    
</div><!-- end row -->





</section><!-- end section main container -->