<section id="top-area">

 <div class="container">
             <div class="row">
                 <div class="col-md-12 main-title">
                 <h1>ABOUT RUBYVOTE</h1>
                <p>RubyVote is an Audience Response Application which allows speakers to receive instant feedback form their audience. PLease contact us if you'd like to hear more.</p>
                <button class="button_start">Get in touch</button>
               


                </div>
       		</div>
            </div>
 </section>   

<section class="container" id="main">


<div class="non_white_divider"></div>

<div class="row">
	<div class="col-md-12">
		<h2>Why interact with your audience?<span>Not convinced you need RubyVote? Read on and see if it's for you!</span></h2>
	</div>
</div><!-- end row -->

<div class="row">

	<div class="col-md-4 col-sm-4 add_bottom_30 box">
		<p><img src="assets/icon-1.png" alt="Icon"></p>
		<h3>Increased audience attention</h3>
		<p>Research shows that audiences are more engaged during talks when interacting with the speaker. The result is a more memorable talk which stands out from the rest and is more likely to be discussed after the talk both in person and on social media.</p>
		<a href="#" title="read more" class="button_medium_2">Read more</a>
	</div>
    
	<div class="col-md-4 col-sm-4 add_bottom_30 box">
		<p><img src="assets/icon-2.png" alt="Icon"></p>
		<h3>Receive instant feedback</h3>
		<p>Ever wonder if your audience is confused or bored? If your talk is relevant to the audience? With RubyVote you can receive instant feedback to your questions, as well as allow your audience to speak to you directly and instantly, getting real time feedback.</p>
		<a href="#" title="read more" class="button_medium_2">Read more</a>
	</div>
    
	<div class="col-md-4 col-sm-4 add_bottom_30 box">
		<p><img src="assets/icon-3.png" alt="Icon"></p>
		<h3>Valuable Data Analytics</h3>
		<p>Find out more about your audience. Ask them for information about the products they own as well as their thoughts and views. </p>
		<a href="#" title="read more" class="button_medium_2">Read more</a>
	</div>
    
</div><!-- end row -->





</section><!-- end section main container -->