


<section class="container">
           
    <div class="row">
             
		<div class="col-md-12">
		
			<h1>Editing Poll</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @poll %> |
			<%= link_to 'Back', polls_path %>

		</div>

    </div>

</section>
         
