<section class="container">
           
  <div class="row">

    <div class="col-md-12">

      
      
	<h3>Polls</h3>
	<% unless @polls.any? %>
  	<p class="bg-info flash">No polls.</p>
	<% end %>

	<ul class="poll-list">
		<% @polls.each do |poll| %>
		<li class="poll-list"><h4><%= link_to poll.title, poll_path(poll.id) %></h4><p><%= link_to "Answer this poll", new_poll_reply_path(poll) %></p></li>

		<% end %>
	</ul>

<button class="button_start"><%= link_to 'Create New Poll', new_poll_path %></button>





    </div>

  </div>

</section>
         

