<section class="container">
           
  <div class="row">

    <div class="col-md-12">

      
      
	<h2>Existing Polls</h2>
	<% unless @polls.any? %>
  	<p class="bg-info flash">No polls.</p>
	<% end %>

	<ul class="poll-list">
		<% @polls.each do |poll| %>
		<li><%= link_to poll.title, new_poll_reply_path(poll) %></li>
		<% end %>
	</ul>

<button class="button_start"><%= link_to 'Create New Poll', new_poll_path %></button>





    </div>

  </div>

</section>
         

