<section class="container" id="main">
	<div class="row" id="poll-index-height">
		<div class="col-md-12">
		<br/>

			<h2 class="steps">Step 1: Name your poll</h2>

			<%= render 'form' %>

			<%= link_to 'Back', polls_path %>

		</div>

    </div>

</section>
         

         