<footer>
    <section class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>About RubyVote</h3>
            <p>RubyVote is a Ruby on Rails app which enables speakers to interact with their audience by asking questions and receiving feedback. Information can be gathered through muliple choice questions, yes or no answers, or through open-ended questions.</p>
        </div>
        
        <div class="col-md-4" id="contact">
            <h3>Contact info</h3>
            <p>Please feel free to contact me either by phone or email to discuss this project. </p> 
                <ul>
                        <li><i class="icon-home"></i> Dara Clare Carolan, Dublin, Ireland</li>
                        <li><i class="icon-phone"></i> Phone: 087 639 4884 </li>
                        <li><i class="icon-envelope"></i> Email: <a href="#">daraclare@gmail.com</a></li>
                        <li><i class="icon-skype"></i> Skype: daraclare</li>
                    </ul>    
        </div>
        
        <div class="col-md-4">
            <h3>Latest tweet</h3>
             <div class="latest-tweets" data-number="10" data-username="daraclare" data-mode="fade" data-pager="false" data-nextselector=".tweets-next" data-prevselector=".tweets-prev" data-adaptiveheight="true"></div>
              <div class="tweet-control">
                <div class="tweets-prev"></div>
                <div class="tweets-next"></div>
              </div><!-- End .tweet-control -->
        </div><!-- End col-md-4 -->
        
    </div><!-- end row -->
    </section>
    
    <section id="footer_2">
    <div class="container">
    <div class="row">
        <div class="col-md-6">
                <ul id="footer-nav">
                    <li>Copyright © Dara Clare Carolan </li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>              
        </div>
            <div class="col-md-6" style="text-align:center">
                <ul class="social-bookmarks clearfix">
                    <li class="facebook"><a href="#">facebook</a></li>
                    <li class="googleplus"><a href="#">googleplus</a></li>
                    <li class="twitter"><a href="#">twitter</a></li>
                    <li class="github"><a href="#">github</a></li>
                    <li class="paypal"><a href="#">paypal</a></li>
                </ul>
            </div>
        </div>
        </div>
    </section>

</footer>