$dark_blue: #333E50;
$grey_blue: #7C8A9D;
$button_link_bg: #D94255;
$button_hover_bg: darken($button_link_bg, 10%);

$alt_button_link_bg: $dark_blue;
$alt_button_hover_bg: darken($alt_button_link_bg, 10%);

html, body {
    height: 100%;
}

h1.poll-title {
    text-align:left;
}

p.poll-nav a {
    margin: 0;

}

a.btn.btn-default.share-button {
    color: #fff;
    background-color: #00aeef;
    border-color: #fff;
    font-weight: bold;
}

div#wrapper {
    min-height: 100%;
    position: relative;
}

input#multiple-choice {
    width: 30%;
}


#footer {
    position: absolute;
    margin-top: -316px;
    height: 316px;
    clear: both;
    bottom: 0;
    left: 0;
}



#main {
    padding-bottom: 316px;
    height: 100%;
}

input.btn.btn-default {
    color: white;
    background-color: #00aeef;
    border: none;
    width: 7em;
}


.sub-options {

    font-weight: 500;

}



.delete-button {
    border: none;
}

dt {
        font-weight: bold;
    padding-top: 1.4em;
}

.bg-info {
    background-color: white;
    font-size: 1.4em;
    text-align: center;
    margin-top: 1em;
}

.alert {
    color: red;
}

h3.poll_title {
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    margin-bottom: 45px;
    margin-top: 1em;
    text-transform: uppercase;
}

section.container {

       height: 100%;
   

    

    .row {
        min-height: 10em;
       
        .col-md-12 {

            h2#banner-heading {
                padding-top: 0;
                text-align: center;
                margin-bottom: 1em;
            }
           

            h1 {

               

            }


            h2 {
                margin-top: 45px;
                text-align: left;
                margin-bottom: .5em;
            }

            ul.list-group {
                
                li.list-group-item {
                    border: none;
                }
            }

            ul.poll-list {
                
                text-align: center;
                margin-left: 0;
                margin-right: 0;

                

                li {

                    font-weight: bold;
                    padding-top: 1.4em;

                    a {
                        text-align: center;
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }

            a {

            }
            label {
                // text-transform: none;
                // font-size: 22px;
                // line-height: 26px;
                // font-weight: 600;
                // margin-bottom: 25px;
                // text-align: left;
            }

            input#poll_title {
                background: none;
                background-color: #fbfbfb;
                border: 2px solid #d5d5d5;
                border-radius: 0;
                -webkit-appearance: none;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
                -webkit-transition: none;
                color: #999;
                height: 44px;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 25px;
                font-family: 'Open Sans', Arial, sans-serif;
                line-height: 1.428571429;
                padding: 6px 12px;
                }

            input[type="submit"] {
                margin-top: 1em;
                margin-bottom: 1em;
                // -webkit-border-radius: 3px;
                // -moz-border-radius: 3px;
                // border-radius: 3px;
                // font-size: 18px;
                // border: 2px solid #D94255;
                // color: #D94255;
                // padding: 15px 35px;
                // text-decoration: none;
                // transition: background .5s ease;
                // -moz-transition: background .5s ease;
                // -webkit-transition: background .5s ease;
                // -o-transition: background .5s ease;
                // display: inline-block;
                // cursor: pointer;
                // font-weight: 600;
                // text-transform: uppercase;
                // outline: none;
                // background: #fff;
                // margin-top: 2em;

                // &:hover {
                // background: darken(#D94255, 2);
                // color: #fff;
                // border: 2px solid #D94255;
                // }
            }

            
        }
    }


    
}








a.button_medium:hover, .button_medium:hover {
    background: $button_hover_bg;
    color: #fff;
}

div.non_white_divider {
    width: 100%;
    background: url("divider.png") no-repeat center top;
    height: 10px;
    margin: 0 0 30px 0;
}



footer p {

	font-size: .9em;
}

footer li {

	font-size: .9em;
	}

footer_2 li {

	font-size: .9em;
	}

#top-area {
    background-color:#333E50;
    height: 20em;
}