$dark_blue: #333E50;
$grey_blue: #7C8A9D;
$button_link_bg: #D94255;
$button_hover_bg: darken($button_link_bg, 10%);

$alt_button_link_bg: $dark_blue;
$alt_button_hover_bg: darken($alt_button_link_bg, 10%);



section.container {
   

    

    .row {
        min-height: 30em;
       
        .col-md-12 {
           

            h1 {

               

            }

            a {

            }
            label {
                text-transform: none;
                font-size: 22px;
                line-height: 26px;
                font-weight: 600;
                margin-bottom: 25px;
                text-align: left;
            }

            input#poll_title {
                background: none;
                background-color: #fbfbfb;
                border: 2px solid #d5d5d5;
                border-radius: 0;
                -webkit-appearance: none;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
                -webkit-transition: none;
                color: #999;
                height: 44px;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 25px;
                font-family: 'Open Sans', Arial, sans-serif;
                line-height: 1.428571429;
                padding: 6px 12px;
                }

            input[type="submit"] {
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                font-size: 18px;
                border: 2px solid #D94255;
                color: #D94255;
                padding: 15px 35px;
                text-decoration: none;
                transition: background .5s ease;
                -moz-transition: background .5s ease;
                -webkit-transition: background .5s ease;
                -o-transition: background .5s ease;
                display: inline-block;
                cursor: pointer;
                font-weight: 600;
                text-transform: uppercase;
                outline: none;
                background: #fff;
                margin-top: 2em;

                &:hover {
                background: darken(#D94255, 2);
                color: #fff;
                border: 2px solid #D94255;
                }
            }

            
        }
    }


    
}








a.button_medium:hover, .button_medium:hover {
    background: $button_hover_bg;
    color: #fff;
}

div.non_white_divider {
    width: 100%;
    background: url("divider.png") no-repeat center top;
    height: 10px;
    margin: 0 0 30px 0;
}


footer p {

	font-size: .9em;
}

footer li {

	font-size: .9em;
	}

footer_2 li {

	font-size: .9em;
	}

#top-area {
    background-color:#333E50;
    height: 20em;
}